[submodule "pagamentos"]
	path = pagamentos
	url = git@github.com:Franklyn-S/alurafood-payment.git
[submodule "service-discovery"]
	path = service-discovery
	url = git@github.com:Franklyn-S/alurafood-service-discovery.git
